body {
    background-color: #30475E;
    background-size: contain;
    height: 90vh;
    color: #F5F5F5;
}

.table-style {
    background-color: #F5F5F5;
    padding: 1em;
    border-color: #e43f5a;
}


.table-style th{
    padding: 1em;
}

.table-style td {
    padding: 1em;
}

input::placeholder {
    color: grey;
    opacity: 1;
}

nav {
    background-color: #e43f5a;
    margin-bottom: 3em;
}

.logo {
    margin: 0;
}

.btn-main {
    border: none;
    border-radius: 8px;
    padding: 12px;
    background: #e43f5a;
    font-size: 16px;
    line-height: normal;
    color: white;
    cursor: pointer;
    margin: 0;
}

.header {
    margin-bottom: 1em;
}

.search-box {
    border: 1px solid #121212;
    border-radius: 3px;
}

	
	.card-trip {
	  overflow: hidden;
	  background: white;
	  box-shadow: 0 0 15px rgba(0,0,0,0.2);
	  border-radius: 5px;
	}
	
	.card-trip > img {
	  height: 200px;
	  width: 100%;
	  object-fit: cover;
	}
	
	.card-trip h2 {
	  font-size: 16px;
	  font-weight: bold;
	  margin: 0;
	  color: black;
	}
	
	.card-trip p {
	  font-size: 12px;
	  opacity: .7;
	  margin: 0;
	  color: black;
	}
	
	
	.card-trip .card-trip-infos {
	  padding: 16px;
	  display: flex;
	  justify-content: space-between;
	  align-items: flex-end;
	  position: relative;
	}
	
	.card-trip-infos .card-trip-user {
	  position: absolute;
	  right: 16px;
	  top: -20px;
	  width: 40px;
	}
	
	
	.cards {
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-gap: 16px;
	  margin-top: 1em;
	}
	
	
